<!-- views/partials/header.ejs -->
<head>
	<title><%=title %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<script src="http://d3js.org/d3.v3.min.js"></script>




	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<style>

	</style>


	<link id="size-stylesheet" rel="stylesheet" href="/css/desktop.css"> 

	<script>


	  function nav_toggle()
	  {
	      $("#myNav").slideToggle("slow");


	  }


	  function user_toggle()
	  {
	      $("#userInfo").slideToggle("slow");


	  }



	</script>


<!--<link rel="stylesheet" href="/css/mobile.css"> -->


</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<div class="container">
	  <div class="page-header text-center">
	    <h1>
	      <button type="button" class="closenav btn btn-default btn-sm" onclick="nav_toggle()">
		<!--<span class="glyphicon glyphicon-menu-hamburger"></span> -->
		<i class ="fa fa-bars"></i>
              </button>
	      <%= title %>
	      <img src="/img/cc_logo_RGB.jpg" style=" height:50px"></img> 
	    </h1>
	  </div>


	  <nav id="myNav" class="navbar navbar-default" role="navigation">
	    <div>
	      <a href="javascript:void(0)" onclick="nav_toggle()"
		 class="closenav right closeNavButton">X</a>

	      <ul class="nav nav-pills">
<!--		<li role="presentation"> <a href="/customizeProfile.html" class="btn btn-default btn-large"> Edit Your Personal Information </a></li>-->
		<li role="presentation"><a href="/courseSearch" class="btn btn-default btn-large"> Search Courses </a></li>
		<li role="presentation"> <a href="/profile" class = "btn btn-default btn-large"> Profile Page </a> </li>
<li role="presentation"><a href="/logout" class="btn btn-default btn-large">Logout</a></li>
</ul>
	    </nav>

