    <html>
    <title> Course Page</title>
    <link href="/example.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="/lib/jquery-3.1.1.min.js"></script>
    <script>
      var feedbackSkills = 3;
    function generateButtons(json)
{
    $.ajax({url: "/skillList", success: function(result){
        //$("#div1").html(result);
	var imageArray = [];
      var skills=  ["#skill0","#skill1","#skill2"];
      <!-- for each of the top three skills, create a drop down menu for the 8 skills -->
      for (var n = 0; n < 2; n++)
			  {
			  var generated = '<tr>';
			  for (var m = 0; m < result.length; m ++)
					      {
					      if (n == 0)
					      {
					      generated += '<td><img class="skillIcon" src="'+result[m].skills_img+'" '+ 'title="'+result[m].skill +'" unselectable="on" '+' \> </td>';
					      }
					      else
					      {
					      generated += '<td>' + result[m].skill + '</td>';
					      }
					      }
					      generated += ' </tr>';
					      $('#legend').append(generated);
			  }
      for (var j = 0; j < skills.length; j++)
			  {
			  var blankSpace = $('<option class="selectableSkill" value = "none"> </option>');
			  $(skills[j]).append(blankSpace);
        for (var i = 0; i < result.length ; i ++)
	{
			    var skillImage = $('<option class="selectableSkill" value = "'+result[i].skill+'">' + result[i].skill+
			    '</option>');
			    imageArray.push(skillImage);
			    $(skills[j]).append(skillImage);
}
}
	
	
	/*  title on the images will automatically do the tool tips...
	    Would be niced to do this so it is uniform...
	var toolTip = $('<div class="tooltip"></div>');

	toolTip.appendTo("body");
/*	$(".skillIcon").each( function ()
       {
	   $(this).on("mouseover", function(event) 
	  {
	      toolTip.animate( {opacity:.9 },200)
	      .text($(this).title) //I believe the error is here...
	      .css("left",event.pageX+"px")
	      .css("top",(event.pageY-28) +"px");
	  })
	  .on("mouseout",function()
	  {
	      toolTip.animate({opacity:0},500);
	  });

       });*/
    } }); 
}


</script>

<style>

div.tooltip 
{
    position: absolute;
    text-align: center;
    width: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.skillIcon
{
width:50px;
height:50px;
display:inline;

}

.skill > .selectableSkill
{
    margin: 0 auto;
}

.skillWrap
{
width:100%;
overflow:auto;
margin:15px;
}

.skill
{
width:100px;
height:100px;
float:left;
margin-right: 15px;
}
#legend tr td
{
width: 12%;
padding: 3px;
}
.score
{
   width:65%;
float:left;
clear:right;
}

.right
{
    float:right;
    width:40px;
    text-align:right;
    font-size:200%;

}
.skillWrap .container
{
width: 30%;
}
.skillWrap .score
{
float: right;
}
.container
{
background-color:lightgray;
}

</style>

<body>


    <h1>
    <%= course %>
    </h1>
    <div class="parent">
      
    <div class="wrapper">
      <p> Here is a legend of all the skills and images: </p>
    <table id = "legend"> </table>

<p>  Select the top three skills to evaluate. Don't rate the same skill twice. </p>
   <div id="skillInput">
     </div>

   <script>
     $(document).on('change','#skill0',function()
{
     changeSkill('#skill0','#skill1','#skill2');
     
});
     $(document).on('change','#skill1', function()
{
     changeSkill('#skill1','#skill0','#skill2');
});
     $(document).on('change','#skill2' ,function()
{
     changeSkill('#skill2','#skill0','#skill1');
});
function skillDuplicate(skillName)
{    
     var changeSpan = $(skillName + 'Score #skilltext');
     var changeScore = $(skillName + 'Score #skillrate');
     console.log($(skillName).val());
     if (($(skillName).val() == "none") || ($(skillName).val() == null))
     {
     changeSpan.text("There is not a skill entered. Please reselect before voting");
     }
     else
     {
     changeSpan.text("There are duplicate skills selected. Please reselect before voting");
     }
     changeScore.hide();
}
function skillShowInformation(skillName)
{
     //function to show skill information if it's not a duplicate
     var changeSpan = $(skillName + 'Score #skilltext');
     var changeScore = $(skillName + 'Score #skillrate');
     if ($(skillName).val() == "none")
     {    
     changeSpan.text("There is not a skill listed. Please enter a skill to evaluate");
     }
     else
     {
     $(skillName).css('border-color','transparent');
     changeSpan.text("How much did you develop " + $(skillName).val() + " in this course?");
     changeScore.show();
     }
}
function changeSkill(skillName, skillNotUsed1, skillNotUsed2)
{
     //A function to change the skill text and to test for duplicates
     //If there are duplicates, it hides the slider and scoring information
     //displays a message that there is no skill selected or there is a duplicate
     //Fixing this will display the evaluation for the skill
     var changeSpan = $(skillName + 'Score span');
     var changeScore = $(skillName + 'Score input');
    
     if (($(skillName).val() == $(skillNotUsed1).val()) || ($(skillName).val() == $(skillNotUsed2).val()))
     {
     skillDuplicate(skillName);
     }
     else
     {
     skillShowInformation(skillName);
     if (($(skillName).val() != $(skillNotUsed1).val()) && ($(skillNotUsed1).val() != $(skillNotUsed2).val()))
     {
     skillShowInformation(skillNotUsed1);
     }
     if (($(skillName).val() != $(skillNotUsed2).val()) && ($(skillNotUsed1).val() != $(skillNotUsed2).val()))
     {
     skillShowInformation(skillNotUsed2);
     }
     }
}
     $(document).ready(function()
{
     $('#skill0').trigger('change');
     $('#skill1').trigger('change');
     $('#skill2').trigger('change');
     
     });
(function(numSkills)
{
   var list = document.getElementById("skillInput");
   var i;
   for(i =0; i < numSkills;i++)
   {
      var wrap = document.createElement("div");
      wrap.className="skillWrap";
      
      //Insert a Skill in the grey box:</td> </tr>
      var cont = document.createElement("select");
      cont.id = "skill"+i; 
      cont.className = "container skill";
   		  
      var score = document.createElement("div");
      score.id = "skill"+i+"Score";
      score.className = "score" 
      score.innerHTML = '<span id="skilltext"> How much of this skill did you learn? </span>'+
	   '<span id="skillrate"><br> A Little (1) <input id="score'+i+
	   '" type="range" value="1" min="1" max="7" '+
	   ' style="display:inline-block; vertical-align: middle; width: 60%"'+
	   ' onchange="updateSliderVal(this.value,\'score'+i+'Val\');"> A Lot (7) '+
	   '<div id="score'+i+'Val" class="right">1</div> </span>'
;
      
      wrap.appendChild(cont);
      wrap.appendChild(score);

      list.appendChild(wrap);
   }
		 


})(feedbackSkills);

var updateSliderVal = function(val,target)
{
    document.getElementById(target).textContent=val;
};

   </script>



    </div>

    <button id="myButton"> Submit</button>
    <button onClick="goBack()"> Go Back to Profile </button>

    </div>
    <script src="/lib/dragula.js"> </script>
    <script>
    function goBack()
{
    window.history.back();
}

//put into function to avoid namespace leaks
var dragables = (function()
{
    var i;
    var skills = document.getElementsByClassName("skill"); 
    var d = [document.getElementById("SkillList")]
    for(i = 0;i < skills.length ; i++)
    {
	d.push(skills[i]);
    }
    return d;
})();

dragula(dragables,
	{
	    copy: function(el,source)
	    {
		return source===document.getElementById("SkillList");},
	    accepts: function(el, target)
	    {
		
		return target !== document.getElementById("SkillList");
	    },
	    removeOnSpill: function()
	    {
                return target !== document.getElementById("SkillList");
	    }
	})
    .on('drop', function(el, target)
    {
            onDrop(el,target);
    })
    .on('drag', function(el,target)
	{
            if( target.classList.contains("skill"))
            {
		  $(target).next().hide();
	    }
	})
    .on('cancel',function(el,target)
	{
            if( target && target.classList.contains("skill"))
            {
		  $(target).next().show();
	    }
	})
;



var onDrop = function(el,target)
{
    //find if there is a copy
    var selected = $(".skill  .skillIcon"); //get all skills

    var copies = 0;     //one will be us, more than one is bad
    var i;

    var title = $(el).find("img")[0].title;

    for(i=0; i < selected.length ; i++)
    {

	if (selected[i].title == title) { copies++ };
    }
    if(copies > 1)
    {
      
	el.remove(); //remove yourself --don't allow it to go on..
        //should give alert, android style toast
    }
    else{  //ready to update
        var scorer = $(target).next();
	scorer.show();
	  
        scorer.find("span").
		  text("How much " + title + " did you learn in this course?");

        //only allow one child
        $(target).children().remove();
        target.appendChild(el);
    }



}


</script>
    <script>
      function isAnyBlank()
      {
      return (($('#skill0').val() == "none") || ($('#skill1').val() == "none") || ($('#skill2').val() == "none") || ($('#skill0').val() == null) || ($('#skill1').val() == null) || ($('#skill2').val() == null));
      }
      function isAnyDuplicates()
      {
      return (($('#skill0').val() == $('#skill1').val()) || ($('#skill0').val() == $('#skill2').val()) || ($('#skill1').val() == $('#skill2').val()))
      }
    $("#myButton").click(function()
      {
   <!-- This function get all the skills in an array and then posts data to the database -->
   if (isAnyBlank() || isAnyDuplicates())
   {
   alert("There is a duplicate or an empty skill. Please adjust before submitting");
   console.log("blank");
   }
   else
   {
   var allArray =[];
	  
	  var i;
	  for(i=0;i<feedbackSkills;i++)
          {
	      allArray.push( [ $("#skill"+i).val() || "",
			       $("#score"+i).val()]);
	  }
	  console.log(allArray);

	  $.post("/addFeedBack",{data:allArray,course: "<%= course %>"});
	  window.location.href = "/courses/<%= course %>";
		      }
		      });
$.get('/skillList',function(data,status){
    console.log(data);
})
generateButtons();
</script>
</body>
</html>
