<!-- views/course.ejs -->
<!doctype html>
<html>
<link rel="stylesheet" href="/css/theme.metro-dark.css"> 
<link rel="stylesheet" href="/css/bootstrap.min.css"> 
<% var title = "Course Browser"; %>
<%- include partials/header.ejs %> 


<!--
<title> Course Browsing</title>

<body>

-->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">When did you take this course?</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick = "addCourses()">Add</button>
      </div>
    </div>

  </div>
</div>




Search:
<input type="search" class="search" data-column="all" placeholder="Search here"><sup class="results xsmall"></sup>
<button type="button" class="reset btn btn-default">Reset</button>
<code id="show-filter"></code>
<p> Instructions: Click on a row to add the course</P>
<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="">Term</a>
  </div>
</div>
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th>Add</th>
            <th>Course Name</th>
            <th>Course Title</th>
            <th>Department</th>
        </tr>
    </thead>
    

</table>
</body>

<script src="/lib/jquery-3.1.1.min.js"></script>  
<script>

    var courseSelecting = "";
    var ajaxResult = [];
    function generateTable()
    {
        $.ajax({url:"/studentCourseList",success:function(result){
            
            $(document).ready(function() {
                
                $("#myTable").append("<tbody>");
                for(var i = 0;i<result.length;i++){
                    if(result[i].id){
                        var added = "<span class= 'label label-success'>Evaluated</span>"
                    }
                    else{
                         var added = "<span class='label label-primary'>Evaluate</span>" 
			}
                    var c = result[i].course_name;
                    c.replace(/ /g,"%20");
                    $("#myTable").append(
                        "<tr id = '"+i+"'>\
                            <td>"+added+"</td>\
                            <td><a href = '/courses/"+c+"'>"+c+"</a></td>\
                            <td>"+result[i].course_title+"</td>\
                            <td>"+result[i].department+"</td>\
                        </tr>");
                    ajaxResult.push(result[i]);
                }
                $(":checkbox").change(function(){
                    
                    if(this.checked){
                        $(this).closest('td').next("td").find('select').prop('disabled',false);
                    }
                    else{
                        $(this).closest('td').next("td").find('select').prop('disabled',true);
                    }
                });

                $(".modal-body").append("<div class='btn-group'>\
                    <div class='dropdown'>\
                        <button class='btn btn-default dropdown-toggle time-btn' data-toggle='dropdown'>\
                            <span id='d1'>Year</span><span class='caret'/>\
                        </button>\
                        <ul class='dropdown-menu' name = 'dd1'></ul>\
                    </div>\
                    <div class='dropdown'>\
                        <button class='btn btn-default dropdown-toggle time-btn' data-toggle='dropdown'>\
                            <span id='d2'>Season</span><span class='caret'/>\
                        </button>\
                        <ul class='dropdown-menu'>\
                            <li><a herf = '#'>Spring</a></li>\
                            <li><a herf = '#'>Fall</a></li>\
                            <li><a herf = '#'>Winter</a></li>\
                        </ul>\
                    </div>\
                </div>"); 
                var max = new Date().getFullYear(),
                min = max-5,
                select = document.getElementsByName('dd1');
                for (var j = 0; j < select.length; j++){
                for (var i = min; i<=max; i++){
                    var opt = document.createElement('li');
                    opt.value = i;
                    opt.innerHTML = "<a href='#'>"+i+"</a>";
                    select[j].appendChild(opt);
                }}
                $(function(){

    $(".dropdown-menu li a").click(function(){
      $(this).parents(".dropdown").find('.btn').children(":first-child").text($(this).text());
      $(this).parents(".dropdown").find('.btn').children(":first-child").val($(this).text());

   });

});

                //tablesorter
            $( function() {
                var $table1 = $( '#myTable' )
                    .tablesorter({
                    theme : 'metro-dark',
                    duplicateSpan : true, // default setting

    widthFixed: true,
    widgets : [ 'zebra', 'filter' ],
    widgetOptions : {
      filter_external: 'input.search',
      filter_reset: '.reset'
    }
  });//.tablesorterPager({container: $("#pager")});


                

                });

                                
                            });
                        }})
                    }

    function addCourses(){
        var time = [];
        $('.time-btn:first-child').each(function(){
            //$(this).closest('tr').css("background-color","red");
            //var course = ajaxResult[$(this).closest('tr').attr('id')];
            //course.year = $(this).closest('td').next("td").find("select[name*='select0'] //option:selected").text();
            //course.season = $(this).closest('td').next("td").find("select[name*='select1'] //option:selected").attr('value');
            console.log($(this).text());
            time.push($(this).text());
        })
        var selected = [{course_name:courseSelecting,
            year:time[0],
            season:time[1]}]
        $.post("/profile/addSelectedCourses",{data:selected});
        console.log(selected);
        console.log(ajaxResult[selected[0]]);
        location.reload();
	window.location.href = "/course_feedback/"+courseSelecting;
    }


    $("#btn").click(function(){
        addCourses();
            window.location.href = "/profile";
    })
    generateTable();

    $(function () {

    $('table')
        .on('click', 'tbody tr', function(){
            // closest finds the row, .eq(0) finds the first cell
            var course = $(this).closest('tr').children().eq(1).text();
            courseSelecting = course;
            $('.modal-body p').text("I took "+ course +" in:");
            $("#myModal").modal('toggle');
        });
        /*.tablesorter({
            theme: 'blue'
        });*/

});



</script>



<script src="/lib/tablesorter/js/jquery.tablesorter.js"></script>



<script src="/lib/tablesorter/js/widgets/widget-storage.js"></script>

<script src="/lib/bootstrap.min.js"></script>


<script src="/lib/tablesorter/js/jquery.tablesorter.widgets.js"></script>

<!--<%- include partials/footer.ejs %> -->

<!--
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
-->
<script>



  function adjustStyle(width) 
  {
  width = parseInt(width);
  if (width < 600) 
	      {
	      $("#size-stylesheet").attr("href", "/css/mobile.css");
	      } 
	      else 
	      {
	      $("#size-stylesheet").attr("href", "/css/desktop.css");
	      $("#myNav").show();
	      }
	      }
	      
	      $(function() 
              {
	      adjustStyle($(this).width());
	      //be sure to react if there is a change in the future
              $(window).resize(function() 
              {
	      console.log("width",$(this).width());
	      adjustStyle($(this).width());
	      });
	      });
	      </script>








</html>
